
@import "./views/queries";
@import"./utilities/color";
@import"./normalize/reset";
@import"./general/header";
@import"./general/body";
@import"./general/footer";


*{
    font-family: Verdana;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}




@media screen and (min-width: 720px ) {
    .navegacion{
    padding: 0; 
    justify-content: center;
    flex-direction: row;
    text-align:center;
    }
    article{
    flex-direction: column;
    text-align: center; 
    }
}


@media screen and (min-width: 720px ) {
.navegacion{
    padding: 0; 
    justify-content: center;
    flex-direction: row;
    text-align:center;
    }
    article{
    flex-direction: column;
    text-align: center; 
    }
}

@media screen and (min-width: 850px){
.navegacion{
    padding: 0;
    justify-content: flex-end;
    flex-direction: row;
    align-content: flex-end;
    }
    article{
    flex-direction: row;
    }
}



.soyunfooter{
    color: $primario;
    background: $octario;
    position:relative;
    width: 100%;
    height: 40px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}


body{
    background-color: $primario;
    color: $secundario;
}
html {
    color: white;
    background-color:white;
    font-size: 18px;
}
@mixin section{
    width: 100%;
    height: 100%;
    background-color: black;
}



header {
    background-color: $secundario;
}

nav{
    background-color: $terciario;
}

nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li a{ 
    display: block;
    text-decoration: none;
    color: $secundario;
    text-align: center;
    padding: 10px;
    
}

nav ul li a:hover{ 
    background-color: $cuartiario;
    
}

.contacto{
    background: $sextiario;
    border-radius: 35px;
    color: $secundario;
    
}
a:hover{
    background: $septiario;
    padding: 8px;
}



h1{
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 35px;
}
h2{
    text-align: center;
}

.one{
    flex-grow: 3;
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
}
.one1{
    width: 40%;
    flex-grow: 3;
    font-size: 25px;
    padding: 20px;

}
.two{
    flex-grow: 3;
    padding: 20px;
    margin-top: 20px;
}
.text{
    font-size: 25px;
    
    text-align: center;
}

article{
    display: flex;
}


.container-wrapper{
    padding: 0;
    margin: 0;
}
.wrap-texto{
    width: 100%;
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}

