@import "../utilities/color";



body{
    background-color : $primario;
    color: $primario;
    .text{
        font-size: 25px;
        
        text-align: center;
    }
}
html {
    color: $secundario;
    background-color:$secundario;
    font-size: 18px;
}
section{
    background-color: $backGroundColor;
    h3{
        width: 100%;
        color:$secundario ;
        text-align: end;
        line-height: 50px;
    }
}

div.one{
    width: 50%;
    line-height: 50px;
    text-align: center;
}
div{
    width: 50%;

    img.items{
        width: 95%;
        
        margin: 10px;
    }

}

.one{
    display: flex;
    width: 50%;
}

@mixin body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.galeria-dos{
    width: 100%;
}