@import "../utilities/color";
header{
    background-color: $secundario !important;
}
nav{
    background-color: $terciario;

    ul{
        background-color: $terciario;
        list-style-type: none;
        display: flex;
        justify-content: end;
        
    li{
        text-decoration: none;
        a{
            display: block;
            color: $secundario;
            text-decoration: none;
            text-align: center;
            padding: 10px;

            &:hover{
                background-color:$cuartiario;
                }
            }
        }
    }
}



header {
    
    

    nav{
        background-color: $terciario;

        ul{
            background-color: $terciario;
            list-style-type: none;
            display: flex;
            justify-content: end;
            
        li{
            text-decoration: none;
            a{
                display: block;
                color: $secundario;
                text-decoration: none;
                text-align: center;
                padding: 10px;

                &:hover{
                    background-color: $cuartiario;
                }
            }
        }
        }
    }
}
