@import "/scss/utilities/color";

h1{
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 35px;
}
h2{
    text-align: center;
}

.one{
    flex-grow: 3;
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
}
.one1{
    width: 40%;
    flex-grow: 3;
    font-size: 25px;
    padding: 20px;

}
.two{
    flex-grow: 3;
    padding: 20px;
    margin-top: 20px;
}


article{
    display: flex;
}
