@import"../utilities/color";

@media screen and (min-width: 850px){
    .navegacion{
        padding: 0;
        justify-content: flex-end;
        flex-direction: row;
        align-content: flex-end;
        }
        article{
        flex-direction: row;
        }
    }



@media screen and (min-width: 720px ) {
    .navegacion{
    padding: 0; 
    justify-content: center;
    flex-direction: row;
    text-align:center;
    }
    article{
    flex-direction: column;
    text-align: center; 
    }
}


@media screen and (min-width: 719px ) {
.navegacion{
    padding: 0; 
    justify-content: center;
    flex-direction: row;
    text-align:center;
    }
    article{
    flex-direction: column;
    text-align: center; 
    }
}

